@model MyPortfolio_MVC.Models.TblEducation
@{
    ViewBag.Title = "UpdateEducation";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    //Okul
    //bölüm
    //başlama
    //bitiş
    //açıklama
    //derece
    //kaydet
}

<h2>Eğitim Güncelle Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.EducationId)

    <label>Okul Adı</label>
    @Html.TextBoxFor(x => x.SchoolName, new { @class = "form-control", style = "border-color:white" })


    <br />

    <label>Bölüm Adı</label>
    @Html.TextBoxFor(x => x.Department, new { @class = "form-control", style = "border-color:white" })

    <br />

    <label>Başlama Tarihi</label>
    <input type="datetime" name="StartDate" class="form-control" value="@Model.StartDate.Value.ToString("dd.MM.yyyy")" style="border-color:white;background-color:white" />


    <br />


    @if (Model.EndDate.HasValue)
    {
        <label>Bitiş Tarihi</label>
        <input type="datetime" name="EndDate" class="form-control" value="@Model.EndDate.Value.ToString("dd.MM.yyyy")" style="border-color:white;background-color:white" />

    }
    else
    {
        <label>Bitiş Tarihi</label><span><strong> (Devam ediyor)</strong></span>
        <input type="date" name="EndDate" class="form-control" style="border-color:white;background-color:white" />


    }
    <br />

    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description, 5, 1, new { @class = "form-control" })


    <label>Derece</label>
    <select name="Degree" class="form-control bg-dark" style="border-color:white">
        <option disabled>Seçiminizi Yapın</option>
        <option value="Önlisans" @(Model.Degree == "Önlisans" ? "selected" : "")>Önlisans</option>
        <option value="Lisans" @(Model.Degree == "Lisans" ? "selected" : "")>Lisans</option>
        <option value="Yüksek Lisans" @(Model.Degree == "Yüksek Lisans" ? "selected" : "")>Yüksek Lisans</option>
    </select>
    <br />

    <button class="btn btn-outline-primary" style="margin:10px;margin-left:0px">Kaydet</button>
</form>

